@model NetDataChallenge.Models.PessoaModel

@{
    Layout = null;
    ViewData["Title"] = "Detalhes";
}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title">Detalhes da Pesquisa</h3>
        </div>
        <div class="modal-body">
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.FirstName)
                </dt>
                <dd class="col-sm-10">
                    <p>@Model.FirstName @Model.LastName</p>
                </dd>
            </dl>
            <table class="table table-sm">
                <thead class="thead-light">
                    <tr>
                        <th>Portal</th>
                        <th>Status</th>
                    </tr>
                </thead>
                @foreach (StatusModel stats in Model.ListaStatus)
                {
                    <tr>
                        <td>@stats.Portal</td>
                        <td>@stats.Status</td>
                    </tr>
                }
            </table>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
        </div>
    </div>
</div>
